body {
    background-image: url("ArcCity.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#A1 {
    text-align: center;
    color: rgb(42, 47, 79);
    -webkit-text-stroke: 2px rgba(165, 215, 232, 0.182);
    font-size: 30px;
    font-family: 'Press Start 2P';
    text-shadow: 0 0 20px rgb(136, 139, 191);
}

.navigation {
    list-style: none;
    background: rgba(42, 47, 79, 0.852);
    padding: 0px;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
}
.navigation li {
    display: inline-block;
}
.navigation li a {
    display: block;
    text-decoration: none;
    color: rgb(165, 215, 232);
    padding: 15px 20px;
    width: 40px;
}
.navigation li a:hover {
    background-color: rgba(31, 34, 54, 0.371);
    color: rgb(255, 255, 255);
}